<html>
<head>
    <link href="site/index.css" type="text/css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
</head>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-RPMG1Q46FT"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-RPMG1Q46FT');
</script>

<body>

<section id="app">
    <div v-if="isModalVisible" class="modal">
        <div class="modal-content">
            <div class="main-div">
                <h2>How to Download WhatsApp Chat</h2>
                <div class="list">
                    <ul>
                        <li>Go to the WhatsApp chat you want to botify.</li>
                        <li>Click on options <img src="site/img/whatsapp_options.png"></li>
                        <li>Click on <b>More</b></li>
                        <img class="howto" src="site/img/more.png">
                        <li>Click on <b>Export Chat</b></li>
                        <img class="howto" src="site/img/export.png">
                        <li>Choose <b>Without Media</b></li>
                        <img class="howto" src="site/img/nomedia.png">
                        <li>Email the chat to yourself</li>
                        <li>Download the chat and upload it to `Who Said That?!`</li>
                    </ul>
                </div>
                <button @click="hideModal">Close</button>
            </div>
        </div>
    </div>
    <div id="form-container" class="main-div">
        <h1>
            Who Said That?!
        </h1>
        <p style="font-size: 36px">
            <img src="site/img/WhatsApp.png" height="36" width="36">
            &#10140; 🤔
        </p>

        <div class="list big">
            <ul>
                <li>Upload your WhatsApp group chat</li>
                <li>We will learn you*</li>
                <li>You'll get hours of fun**</li>
            </ul>
            <br>
            <p class="comment" align="">* No data is saved or sent to us, everything happens within your browser
                <br>
                ** well, depends on how you long you can tolerate quizes about your friends</p>
        </div>
        <tr>
            <td>
                <label v-if="fileName==''" for="fileToLoad" class="custom-file-upload">
                    <i class="fa fa-upload" style="font-size:36px"></i>
                </label>
                <input id="fileToLoad" type="file" class="no-display" accept=".txt" @change="loadFileAsText"/>
                <p v-if="fileName!=''" id="fileName"> {{fileName}} </p>
                <a v-if="speakers.length==0" @click="showModal" id="howtoWhatsapp"> <br> Not sure what to do?</a>

        </tr>

        <div v-if="speakers.length>0" id="step-2">
            <b>Participants:</p>
            <p v-for="speaker in speakers" >{{ speaker }}</p>
            <button @click="play" class="btn btn-primary">Play!</button>
        </div>

    </div>
    <br>
</section>
<br><br><br>
<footer align="center">
    <p>Concept: Mandy Cartner</p>
</footer>
<script src="site/script.js"></script>


</body>

</html>
