@import url('https://fonts.googleapis.com/css?family=Changa:700,400,300,900');
@import url('https://fonts.googleapis.com/css?family=Press Start 2P:700,400,300,900');


*
{
    font-family: "Changa", helvetica, arial, sans-serif;
    font-size: 100%;
    font-weight: lighter;
}



label, td, tr, div
{
    color: #fff;
}

h1
{
    font-family: "Press Start 2P", helvetica, arial, sans-serif;
    font-size: 50px;
}

h2
{
    font-family: "Press Start 2P", helvetica, arial, sans-serif;
    font-size: 24px;
}

.btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

body {
    background-color:powderblue;
}

.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    border-radius: 20%;
}

.main-div {
    padding: 10px;
    background: #5682a3;
    width:35%;
    text-align: center;
    position: relative;
    margin: auto;
    top: 70px;
    border-radius: 30px;
}

@media only screen and (max-width: 1800px) {
  /* For mobile phones: */
  [class*="main-div"] {
    width: 70%;
  }
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="main-div"] {
    width: 80%;
  }
}

.list {
    text-align: left;
    padding-left: 5%;
    padding-bottom: 5%;
    padding-right: 5%;
    font-size: 18px;
}
.big {
    font-size: 24px;
}
.comment {
    font-size: 15px;
}
a {
    text-decoration:none;
    cursor: pointer;
    color: blue;
}

a:hover {
    color: whitesmoke;
}

.howto  {
    padding: 6px;
    max-width: 90%;
}

.no-display  {
    display: None
}

.modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 160%;
  background: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: flex-start;
  z-index: 999;
  display: flex;
}

.modal-content {
    width: 80%;
    height: 80%;
    align-items: center;
}

footer {
    font-size: small;
}

